body {
    background-color: cadetblue;
}
p {
    width: 200px;
    height: 200px;
    background-color: aqua;
}
#kontener{
    background-color: blue;
    display: flex;
    justify-content: space-around;
}